@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* Geral */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

html {
  background-color: #EFF5FF;
}

/* FORM BG */
.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.form-bg {
  width: 450px;
  height:311px;
  background-color: tomato;
  border-radius: 10px 10px 0px 0px;
  background-image: url(/img/form-bg-2.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-btn {
  display: flex;
  margin-bottom: 1rem;
}

.btn-1 {
  background-color: #0080fc;
  border-radius: 5px;
  padding: 20px 40px;
  color: white;
  box-shadow: 0 5px 12px -10px black, 0 5px 12px -12px black;
  margin: 0 .5rem;
}

.btn-2 {
  background-color: #e8f0fe;
  border-radius: 5px;
  padding: 20px 40px;
  color: #bebebe;
  margin: 0 .5rem;
  transition: all .2s
}

.btn-2:hover {
  background-color: #0080fc;
  border-radius: 5px;
  padding: 20px 40px;
  color: white;
  margin: 0 .5rem;
}
/* FORM INFO */
.form-info-container {
  width: 450px;
  height: 430px;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 0px 40px;
  box-sizing: border-box;
}
.form-info {
  display: block;
}

.container-email label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #859bae;
}

.container-email input {
  background-image: url(img/icon-01.png);
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  background-position-x: 10px;
  background-size: 20px;

  display: block;
  width: 98%;
  margin-bottom: 20px;
  line-height: 40px;
  border: none;
  color: #3d3d3d;
  border-radius: 6px;
  text-indent: 40px;
  border: 2px solid #FFF;
  transition: .3s all; 
  box-shadow: 0px 10px 23px 0px rgba(240,240,240,1);

}

.container-password label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #859bae;
}

.container-password input {
  background-image: url(img/icon-02.png);
  background-repeat: no-repeat;
  background-position: left;
  background-origin: content-box;
  background-position-x: 10px;
  background-size: 20px;

  display: block;
  width: 98%;
  margin-bottom: 20px;
  line-height: 40px;
  border: none;
  color: #3d3d3d;
  border-radius: 6px;
  text-indent: 40px;
  border: 2px solid #FFF;
  transition: .3s all;
  box-shadow: 0px 10px 23px 0px rgba(240,240,240,1); 

}

#email::-webkit-input-placeholder{
  color: #CAD1DA;
  text-transform: uppercase;
  line-height: 40px;
  font-style: bold;
}

#password::-webkit-input-placeholder{
  color: #CAD1DA;
  text-transform: uppercase;
  line-height: 40px;
  font-style: bold;
}

.container-checkbox {
  display: flex;
  align-items: center;

}

.container-checkbox label {
  margin-left: 5px;
  font-size: 14px;
  line-height: 40px; color: #859BAE;
}

.container-checkbox input {
  width: 18px;
  height: 18px;
}

.btn-3 {
  display: block;
  margin-top: 10px;
  margin-bottom: 1.2rem;
  width: 100%;
  height: 60px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: normal;
  background-color: #0095ff;
  box-shadow: 0 6px 19px -4px #0a97ff;
  font-size: 18px;
  transition: .3s all;
}

.btn-3:hover {
  display: block;
  margin-top: 10px;
  margin-bottom: 1.2rem;
  width: 100%;
  height: 60px;
  line-height: 40px;
  padding: 0 20px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;
  font-weight: normal;
  background-color: #007bff;
  box-shadow: 0 6px 19px -4px #0a97ff;
  font-size: 18px;
}

.container-logo {
  display: flex;
  padding: 20px 0 30px;
  justify-content: center;
  text-align: center;
}

.logo img {
  width: 140px;
}

.logo p {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
  font-weight: normal;
  color: #859bae;
}
